{% extends 'base.html' %}

{% block title %} Criar conta {% endblock%}

{%block content %}
<div class="p-3 mb-2 bg-light text-dark mt-1">
</br>
</br>
</br>
</br>
  <div class="col d-flex justify-content-center">
    <div class="card col-lg-4">
      <div class="card-body">
        <h2 class="center">Cadastro de Usuário</h2>
        <form class="row g-3" method="post">
          {% csrf_token %}
          {% if erro %}
          <div class="alert alert-danger" role="alert">
            {{erro}}
          </div>

          {% endif %}
          <hr>
          <label for="email" class="form-label">Dados da Conta</label>
          <div class="col-12">
            <label for="username" class="form-label">Email</label>
            <input type="email" class="form-control" name='username' id="username" placeholder="Email" required>
          </div>
          <div class="col-12">
            <label for="password" class="form-label">Senha</label>
            <input type="password" class="form-control" name='password' id="password" placeholder="Senha" required>
          </div>
          <div class="col-12">
            <button type="submit" class="btn btn-primary">Cadastrar</button>
          </div>
        </form>
        <hr>
        <span>
          Para fazer login, <a href="{% url 'login_view' %}">clique aqui</a>
        </span>
      </div>
    </div>
  </div>

</br>

</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br></br>
</div>

{% endblock %}