{% extends 'base.html' %}

{% block title %} Informações do seu negócio{% endblock%}

{%block content %}
<div class="p-3 mb-2 bg-light text-dark mt-1">
  </br>
  </br>
  </br>
  </br>
  </br>
  <div class="col d-flex justify-content-center" id="form_cadastro_prestador">
    <div class="card col-lg-8">
      <div class="card-body">
        <h2>Cadastro do Prestador</h2>
        <hr>
        <form class="row g-3" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <label class="form-label">Dados da Conta</label>
          <div class="col col-lg-6">
            <label for="nome" class="form-label">Nome</label>
            <input type="text" class="form-control" id="nome" name='nome' placeholder="Nome" required>
          </div>
          <div class="col col-lg-6">
            <label for="ramo" class="form-label">Área de atuação</label>
            <input type="text" class="form-control" id="ramo" name='ramo' placeholder="Ramo" required>
          </div>
          <div class="col col-lg-6">
            <label for="whatsapp" class="form-label">Whatsapp</label>
            <input type="text" class="form-control" id="whatsapp" name='whatsapp' placeholder="Whatsapp" required>
          </div>
        
          <div class='col col-lg-6 mt-0'>
          </br>
        </br>
            <div class="input-group">
            
              <input type="file" class="form-control" id="foto_perfil" name='id_foto_perfil' required>
              <label class="input-group-text" for="foto_perfil">Foto perfil</label>
            </div>
          </div>
          <div class="col-sm-12">
            <button type="submit" class="btn btn-primary">Cadastrar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  </br>
  </br>
  </br>
  </br>
  </br>
  </br>
  </br>
  </br>
  </br>
  </br>
  </br>
  </br>
  </br>
</div>
<script type="text/javascript">
  $("#whatsapp").mask("(00) 00000-0000");
</script>
{% endblock%}